
{% if user.is_authenticated %}

    Logged in as {{ user.username }}
    <a href="{% url 'createtodo' %}">Create</a>
    <a href="{% url 'currenttodos' %}">Current</a>
    <a href="{% url 'completedtodos' %}">Completed</a>
    <form method="POST" action="{% url 'logoutuser' %}">
        {% csrf_token %}
        <button type="submit">Log out</button>
    </form>

{% else %}

    <a href="{% url 'signupuser' %}"> Sign Up </a>
    <a href="{% url 'loginuser' %}"> Log In </a>

{% endif %}

<br>
<br>

{% block content %} {% endblock %}